@model Movie
@{
    ViewBag.Title = "Edit Movie";
    Layout = null;
}
<head>
    <meta name="viewport" content="widt=device-width" />
    <title>Edit Movie</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="MovieId" />
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Director"></label>
        <textarea asp-for="Director" class="form-control"></textarea>
    </div>    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>