@{
    ViewBag.Title = "Cinema AKG";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main View</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel-heading text-center">
        <a class="btn btn-primary" asp-controller="Admin" asp-action="Main">Admin</a>
        <a class="btn btn-primary" asp-controller="User" asp-action="Main">User</a>
    </div>
</body>
</html>
