@{

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MainView</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h3>Cinema AKG</h3>
        <h4>You can see the list of movies</h4>
        <a class="btn btn-primary" asp-action="ListMovies">See Now</a>
    </div>

</body>
</html>