@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User) && ViewBag.FirstWasUser != 1 || ViewBag.IsSignedIn == 1)
{
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" asp-href-include="bootstrap/startbootstrap-sb-admin-gh-pages/vendor/bootstrap/css/bootstrap.min.css">

        <link asp-href-include="bootstrap/startbootstrap-sb-admin-gh-pages/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link asp-href-include="bootstrap/startbootstrap-sb-admin-gh-pages/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css">
        <link asp-href-include="bootstrap/startbootstrap-sb-admin-gh-pages/css/sb-admin.css" rel="stylesheet" type="text/css">


        <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
        <link rel="stylesheet" asp-href-include="bootstrap/startbootstrap-sb-admin-gh-pages/css/admin.css" />

        <title>@ViewBag.Title</title>
    </head>
    <body id="page-top">
                    @RenderBody()
    </body>
</html>
}
else
{
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" asp-href-include="bootstrap/startbootstrap-sb-admin-gh-pages/vendor/bootstrap/css/bootstrap.min.css">

        <link asp-href-include="bootstrap/startbootstrap-sb-admin-gh-pages/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link asp-href-include="bootstrap/startbootstrap-sb-admin-gh-pages/css/sb-admin.css" rel="stylesheet" type="text/css">

        <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
        <link rel="stylesheet" asp-href-include="bootstrap/startbootstrap-sb-admin-gh-pages/css/admin.css" />

        <title>@ViewBag.Title</title>
    </head>
    <body class="bg-dark">
        <div class="container">
            @RenderBody()
        </div>
    </body>
    </html>
}