@model DTO.MovieEvent

@{
    ViewBag.Title = "Create Movie Event";
    Layout = "_SignedAdminLayout";
}

<!DOCTPYE html>

    <html>
    <head>

        <meta name="viewport" content="wirdt=device-width" />
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="~/css/styles.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        @using (Html.BeginForm("CreateEvent", "Admin", "Home", FormMethod.Post))
        {
            <div class="form-group">
                @Html.DropDownListFor(m => m.Movie.MovieId, ViewBag.movielist as SelectList, "Please Select Movie", htmlAttributes: new { required = "" })
            </div>
                <div class="form-group">

                    @Html.DropDownListFor(m => m.Room.RoomId, ViewBag.roomlist as SelectList, "Please Select Room", htmlAttributes: new { required = "" })
                </div>

                <form class="p-a-1" asp-controller="Admin" asp-action="CreateEvent" method="post">
                    <div class="form-group">
                        <label asp-for="Time">Time:</label>
                        <input class="form-inline" asp-for="Time" required />
                    </div>
                    <div class="text-left">
                        <button class="btn btn-primary" type="submit">
                            Submit Movie Event
                        </button>
                    </div>
                    <br>
                </form>

                }
                <div class="text-left">
                    <a asp-controller="Admin" asp-action="MovieEventMain" class="btn btn-info">Back</a>
                </div>
        </body>
</html>


