@model DTO.User

@{
    ViewBag.Title = "Admin Sign in";
    Layout = "_SignedAdminLayout";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-danger" asp-validation-summary="All"></div>
    <form asp-action="Login" asp-controller="Admin" method="post">
        <div class="form-group">
            <label asp-for="Name"></label>
            <div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>        <input asp-for="Name" class="form-inline" required />
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <div><span asp-validation-for="Password" class="text-danger"></span></div>
            <input type="password" asp-for="Password" class="form-inline" required />

        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Sign In</button>
             </div>
        <div class="text-left">
            <a asp-controller="Home" asp-action="Index" class="btn btn-info">Back</a>
        </div>
    </form>
</body>
</html>
