@{
    ViewBag.Title = "Admin Main";
    Layout = "_AdminLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin View</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel-heading text-left">
        <a class="btn btn-primary" asp-controller="Admin" asp-action="ListEvents">Event List</a>
    </div>
    <div class="panel-heading text-left">
        <a class="btn btn-primary" asp-controller="Admin" asp-action="CreateEvent">Create Event</a>
    </div>
    <div class="panel-heading text-left">
        <a class="btn btn-primary" asp-controller="Admin" asp-action="ListMovies">Movie List</a>
    </div>
    <div class="panel-heading text-left">
        <a class="btn btn-primary" asp-controller="Admin" asp-action="AddMovie">Add Movie</a>
    </div>
    <div class="panel-heading text-left">
        <a class="btn btn-primary" asp-controller="Admin" asp-action="ListRooms">Room List</a>
    </div>
    <div class="panel-heading text-left">
        <a class="btn btn-primary" asp-controller="Admin" asp-action="AddRoom">Add Room</a>
    </div>
    <div class="panel-heading text-left">
        <a class="btn btn-primary" asp-controller="Admin" asp-action="ListUsers">User List</a>
    </div>
    <div class="panel-heading text-left">
        <a class="btn btn-primary" asp-controller="Admin" asp-action="ListReservation">Reservation List</a>
    </div>
    <div class="text-left">
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back</a>
    </div>
</body>
</html>

