@{
    ViewBag.Title = "Movie Event Main";
    Layout = "_SignedAdminLayout";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel-heading text-left">
        <a class="btn btn-primary" asp-controller="Admin" asp-action="ListEvents">Event List</a>
    </div>
    <div class="panel-heading text-left">
        <a class="btn btn-primary" asp-controller="Admin" asp-action="CreateEvent">Create Event</a>
    </div>
    
</body>
</html>
