@model IEnumerable<DTO.Seat>

@{
    ViewBag.Title = "Choose Seat";
    Layout = "_UserLayout";
}

<!DOCTPYE html>

    <html>
    <head>
        <meta name="viewport" content="wirdt=device-width" />
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="~/css/styles.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Seat Number</th>
                    <th>Row Numner</th>
                    <th>Enable</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => m.SeatNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => m.RowNumber)
                        </td>
                        @if (m.IsEnable)
                        {
                        <td class="text-center">
                            <input type="button" class="btn btn-sm btn-warning" value="Choose"
                                   onclick="location.href='@Url.Action("SetSeatId","User", new { id = m.ID })'" />
                        </td>
                        }
                    </tr>

                }
            </tbody>
        </table>
        <div class="text-center">
            <a asp-controller="User" asp-action="CreateUser" class="btn btn-primary">Get Enough Seats</a>
        </div>
        <div class="text-left">
            <a asp-controller="User" asp-action="Main" class="btn btn-primary">Back</a>
        </div>
    </body>
</html>


