@model EnableAndDisableSeats
@{
    ViewBag.Title = "Seats in the room";
    ViewBag.Subtitle = "Choose the seats you'd like to watch the movie from";
    Layout = "_SignedUserLayout";
}

<!DOCTPYE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="~/css/styles.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" asp-href-include="bootstrap/startbootstrap-clean-blog-gh-pages/css/width.css">
        <link rel="stylesheet" asp-href-include="bootstrap/startbootstrap-clean-blog-gh-pages/css/card.css">
        <link rel="stylesheet" asp-href-include="bootstrap/startbootstrap-clean-blog-gh-pages/css/choose.css">
        <style>
            .stylee {
                border-top: 3px double;
                margin-left: 100px;
                margin-right: 100px;
                margin-bottom: 100px;
            }
            .btn-enough {
                color:#fff;
                background-color: #32506d;
                border-color: #32506d;
                
            }
        </style>
    </head>
    <body>
        <div class="text-center">
            <a id="idd" asp-controller="User" asp-action="Reservation" class="btn btn-enough">Got Enough Seats</a>
        </div>
        <hr class="stylee" />
        @foreach (var m in Model.AllSeats)
        {
            <div class="col-sm-2">
                <div class="card mb-4 border-dark">
                    <div class="card-body">
                        <h5 align="center" class="font-weight-bold">
                            Row: @Html.DisplayFor(modelItem => m.RowNumber)
                            Seat: @Html.DisplayFor(modelItem => m.SeatNumber)
                        </h5>
                        @foreach (var n in Model.EnableSeats)
                        {
                            if (n.SeatId == m.SeatId)
                            {
                                Model.IsEnable = true;
                            }
                        }
                        @if (Model.IsEnable)
                        {
                            <input type="button" class="btn btn-sm btn-dark center-block" value="Choose"
                                   onclick="location.href='@Url.Action("SetSeatId", "User", new { id = m.SeatId })'" />
                            Model.IsEnable = false;
                        }
                        else
                        {
                            <input type="button" class="btn btn-sm btn-dark center-block chosed" value="Chosen"
                                   disabled/>

                        }
                    </div>

                </div>
                </div>
        }
    </body>
</html>


