@model EnableAndDisableSeats

    @{
        ViewBag.Title = "Seats in the room";
        ViewBag.Subtitle = "The available seats are free";
        Layout = "_SignedUserLayout";
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="~/css/styles.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <div class="text-center">
            <a id="idd" asp-controller="User" asp-action="Reservation" class="btn btn-success">Make Reservation</a>
        </div>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Row Number</th>
                    <th>Seat Number</th>
                    <th>Available</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model.AllSeats)
                {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => m.RowNumber)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => m.SeatNumber)

                    </td>
                    @foreach (var n in Model.EnableSeats) {
                        if (n.SeatId == m.SeatId)
                        {
                            Model.IsEnable = true;
                        }
                    }
                        <td>
                            @if (Model.IsEnable)
                            {
                                <p>
                                    Yes
                                </p>
                                Model.IsEnable = false;
                            }
                            else
                            {
                                <p>
                                    No
                                </p>
                            }
                        </td>
                </tr>

                }
            </tbody>
        </table>
    </body>
</html>

