@model IEnumerable<DTO.MovieEventSeat>

    @{
    ViewBag.Title = "List Seats";
    Layout = "_AdminLayout";
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="wirdt=device-width" />
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="~/css/styles.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <div class="text-center">
            <a asp-controller="User" asp-action="Reservation" class="btn btn-primary">Get Reservation</a>
        </div>
        <h4>Here is the list of seats</h4>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Seat Number</th>
                    <th>Row Number</th>
                    <th>Enable</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => m.SeatNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => m.RowNumber)
                        </td>

                        <td>
                            @if (m.IsEnable)
                            {
                                <p>
                                    Yes
                                </p>
                            }
                            else
                            {
                                <p>
                                    No
                                </p>
                            }
                        </td>
                    </tr>

                }
            </tbody>
        </table>
        <div class="text-left">
            <a asp-controller="User" asp-action="Main" class="btn btn-primary">Back</a>
        </div>
    </body>
</html>

