@model IEnumerable<DTO.Movie>
@{
    ViewBag.Title = "Movies";
    ViewBag.Subtitle = "You can choose from these movies";
    Layout = "_SignedUserLayout";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <table class="table table-sm table-striped table-bordered">
        <thead>
            <tr>
                <th class="text-center">Title</th>
                <th class="text-center">Director</th>
                <th class="text-center">Length</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {

            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => m.Title)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => m.Director)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => m.Length) minutes
                </td>
            </tr>

            }
        </tbody>
    </table>
</body>
</html>