@model DTO.User

@{
    ViewBag.Title = "User Main";
    Layout = "_SignedUserLayout";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <text>Welcome @ViewBag.User in Cinema AKG</text>
    </div>
    <div class="form-group">
        <div class="text-left">
            <a asp-controller="Home" asp-action="Index" class="btn btn-info">Back</a>
        </div>
    </div>
</body>
</html>

